@bookis:registry=https://npm-463333944203.d.codeartifact.eu-north-1.amazonaws.com/npm/bookis/
//npm-463333944203.d.codeartifact.eu-north-1.amazonaws.com/npm/bookis/:always-auth=true
//npm-463333944203.d.codeartifact.eu-north-1.amazonaws.com/npm/bookis/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
